@font-face {
    font-family: 'Gagalin_400';
    src: url('../fonts/Gagalin/Gagalin_400/gagalin-400-normal.woff2') format('woff2'), 
         url('../fonts/Gagalin/Gagalin_400/gagalin-400-normal.woff') format('woff'), 
         url('../fonts/Gagalin/Gagalin_400/gagalin-400-normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lifehack_medium';
    src: url('../fonts/Lifehack/Lifehack_medium/lifehack_medium-webfont.woff2') format('woff2'),
         url('../fonts/Lifehack/Lifehack_medium/lifehack_medium-webfont.woff') format('woff'),
         url('../fonts/Lifehack/Lifehack_medium/lifehack_medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu_300';
    src: url('../fonts/Ubuntu/Ubuntu_300/ubuntu-300-normal.woff2') format('woff2'), 
         url('../fonts/Ubuntu/Ubuntu_300/ubuntu-300-normal.woff') format('woff'), 
         url('../fonts/Ubuntu/Ubuntu_300/ubuntu-300-normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu_400';
    src: url('../fonts/Ubuntu/Ubuntu_400/ubuntu-400-normal.woff2') format('woff2'), 
         url('../fonts/Ubuntu/Ubuntu_400/ubuntu-400-normal.woff') format('woff'), 
         url('../fonts/Ubuntu/Ubuntu_400/ubuntu-400-normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu_500';
    src: url('../fonts/Ubuntu/Ubuntu_500/ubuntu-500-normal.woff2') format('woff2'), 
         url('../fonts/Ubuntu/Ubuntu_500/ubuntu-500-normal.woff') format('woff'), 
         url('../fonts/Ubuntu/Ubuntu_500/ubuntu-500-normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu_700';
    src: url('../fonts/Ubuntu/Ubuntu_700/ubuntu-700-normal.woff2') format('woff2'), 
         url('../fonts/Ubuntu/Ubuntu_700/ubuntu-700-normal.woff') format('woff'), 
         url('../fonts/Ubuntu/Ubuntu_700/ubuntu-700-normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



